<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">

        <div class="spiner" *ngIf="loader == false">
            <img src="assets/img/cargando.gif" alt="" width="120">
        </div>
    </div>
</div>

<div class="container to animated fadeIn" *ngIf="loader">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"> <i class="fa fa-list"></i> Listado de Facturas</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search"></i></span>
                </div>
                <input (keyup)="buscarF(factu)" #factu type="text" class="form-control" placeholder="Buscar por Fecha, Cliente  o Nro.Factura " [(ngModel)]="filterQuery" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>
        <div class="col">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"> </i> </span>
                    </div>
                    <input (keypress)="dataToggle1()" type="text" name="nombreCliente" [(ngModel)]="nombreCliente" autocomplete="off" class="form-control" placeholder="Elija un Cliente" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
                    <input type="hidden" name="idCliente" [(ngModel)]="idCliente" autocomplete="off" class="form-control" placeholder="Eligir un Cliente" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off" required>
                </div>

                <div class="product" *ngIf="toggle1">
                    <div class="alert alert-primary">
                        <div (click)="selectCli(item)" class="data" *ngFor="let item of datas | dataFilter : nombreCliente">
                            {{ item.nombreCliente }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1" (click)="reset()">
          <button class="btn btn-danger">
            <i class="fa fa-refresh"> </i>
          </button> 
        </div>
    </div>
    <div class="table-responsive">
        <div class="card">
            <div class="card-body">

                <table class="table table-bordered table-hover table-striped">
                    <thead class="table-primary">
                        <tr >
                            <th class="" scope="col">Nro: Factura</th>
                            <th class="" scope="col">Fecha Venta</th>
                            <th class="" scope="col">Cliente</th>
                            <th class="" scope="col">Total</th>
                            <th class=" text-center" scope="col">Descargar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{ item.nroFactura | number}}</td>
                            <td>{{ item.fecha | date: "dd/MM/yyyy"}}</td>
                            <td>{{ item.nombreCliente | uppercase }}</td>
                            <td>$ {{ item.totalVenta | number }}</td>
                            <td class="text-center">
                                <a (click)="facturar(item.nroFactura, item.nombreCliente, item.direccionCliente,item.telefonoCliente, item.fecha , item.totalVenta)" title="Imprimir Factura" class="btn btn-outline-success btn-sm"><i class="fa fa-download fa-1x  btn-outline-success"></i></a>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <table class="table">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="mas()">Cargar mas facturas</button>
                        </td>
                    </tr>

                </table>

                <!-- <button type="button" data-toggle="modal" data-target=".listado" class="btn btn-warning" >Ver Listado</button> -->
            </div>
        </div>
    </div>
</div>


<hr class="hr">

<!-- Modal eliminar producto-->
<div class="modal fade" id="factura" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document" id="mdialTamanio">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title text-danger text-center" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" id="facturas" #facturas>
             
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/logo.jpg" width="70">
                    </div>

                    <div class="col-md-5">
                        <span class="text-secondary">LOS MAGNATES</span>
                        <span><b>Localidad</b>: Arroyo Seco</span><br>
                        <b>Provincia</b>: Santa Fe 
                    </div>
                
                    <div class="col-md-3">
                        Juan Pablo Alvarez <br>
                        20-30590206-4
                    </div>
                </div>
                <hr class="hrs">
                <div class="row">
                    <div class="col-auto me-auto">
                      <h2 class="text"> Factura </h2> 
                    </div>
                    <div class="col-auto ">
                        <h6 class="mb-0"> Fecha : {{fecha | date: "dd/MM/yyyy" }} </h6> 
                        <h6> Factura #: {{ factura | number }} </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 h6">
                    <b>Facturar a</b>
                   <p class="mb-0 text-capitalize"> {{ nombreCliente }}</p>
                   <p class="mb-0 text-capitalize">Dirección: {{ direccionCliente }}</p>
                   <p >Teléfono: {{ telefonoCliente }}</p>
                     
                </div>
                    <div class="col-md-6">
                        <h6> <b>Facturado por</b><p class="mb-0 text-capitalize"> {{nombreAdmin}}</p> </h6> 
                     
                    </div>
                </div>

     
                    <div class="invoicelist-body">
                      <table class="table ">
                        <thead >
                          
                          <th width="60%">Descripción</th>
                          
                          <th width="10%">Cant.</th>
                          <th width="15%">Precio</th>
                        
                          <th width="20%">Total</th>
                       
                        </thead>
                        <tbody *ngFor="let datos of todoData">
                          <tr>
                          
                            <td width='60%'><span >{{ datos.descripcion}}</span></td>
                            <td class="amount"> {{ datos.kilo}}</td>
                            <td class="rate">{{ datos.precio | number}}</td>
                          
                            <td class="sum"> {{datos.precio * datos.kilo | number}}</td>
                       
                          </tr>
                        </tbody>
                      </table>
                    
                    </div><!--.invoice-body-->
                    
                    <div class="invoicelist-footer">
                      <table class="table " >
                        
                        <tr>
                          <td><strong>Total:</strong></td>
                          <td id="total_price">{{ totalVenta | number }}</td>
                        </tr>
                      </table>
                    </div>
                    
                    <footer class="row">
                      <div class="col-12 text-center">
                        <p class="notaxrelated" >Software creado por  Grupo LYB</p>
                        <small class="blockquote-footer"><cite>www.grupolyb.com</cite></small>
                        
                      </div>
                    </footer>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="inprimirFactura('facturas')">IMPRIMIR</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">SALIR</button>
            </div>
        </div>
    </div>
</div>


