<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
        <div class="spiner" *ngIf="loader == false">
            <img src="assets/img/cargando.gif" alt="" width="120">
        </div>
    </div>
</div>


<div *ngIf="loader == true">
    <nav aria-label="breadcrumb to">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-list"></i> Notas de Débito </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6" >
        <div class="input-group mb-3 col-md-12 to">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"> </i> </span>
            </div>
            <input (keypress)="dataToggle1()" type="text" name="nombreCliente" [(ngModel)]="nombreCliente" autocomplete="off" class="form-control" placeholder="Elija un Cliente" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
            <input type="hidden" name="idCliente" [(ngModel)]="idCliente" autocomplete="off" class="form-control" placeholder="Eligir un Cliente" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off" required>

            <div class="product to" *ngIf="toggle1">
                <div class="alert alert-primary">
                    <div (click)="selectCli(item)" class="data" *ngFor="let item of datas | dataFilter : nombreCliente">
                        {{ item.nombreCliente }}
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="col-md-1 to" (click)="reset()">
            <button class="btn btn-danger">
              <i class="fa fa-refresh"> </i>
            </button> 
          </div>
    </div>
    <div class="table-responsive to">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-primary">
                <tr>

                    <th class="">Fecha</th>
                    <th class="">id Nota</th>
                    <th class="">Cliente</th>
                    <th class="">Descripción</th>
                    <th class="">Cantidad</th>
                    <th class="">Importe</th>
                    <th class="">Total</th>
                    <th class="">Nro Cheque</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{ item.fechaDebito | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.idNotaDebito }}</td>
                    <td>{{ item.nombreCliente }}</td>
                    <td>{{ item.descripcionDebito }}</td>
                    <td>{{ item.cantidadDebito }}</td>
                    <td>{{ item.importeDebito }}</td>
                    <td>{{ item.totalDebito }}</td>
                    <td>{{ item.nroCheque }}</td>

                </tr>
                <tr *ngIf="!nada">
                    <td colspan="6" class="text-center">
                        <h3>No hay ninguna nota de crédito en estos momentos.</h3>
                    </td>
                </tr>
            </tbody>


        </table>

        <table class="table">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="mas()">Cargar mas notas de créditos</button>
                </td>
                <!-- <span class="alert alert-info" *ngIf="nada"> Cantidad de notas de créditos : {{ data.length}}</span> -->
            </tr>
            <td colspan="6">

            </td>
        </table>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade"  id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title alert alert-danger" id="exampleModalLabel">Eliminar nota de créditos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-primary" (click)="eliminarNotaCredito()">SI   ELIMINAR</button>
          </div>
        </div>
      </div>
    </div>
     -->