<nav class="side-navbar" >
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="assets/img/logo.jpg" alt="..." class="img-fluid rounded-circle"></div>
       <div class="title">
          <!-- <h1 class="h4">Los Magnates</h1> -->
              <p>Los Magnates:  {{fechaCreado | date: 'yyyy'}}</p>
              <p>Tipo:  {{rol }}</p>
               <small class="text-danger">Bienvenido: {{ nombreAdmin | uppercase }}</small>
        </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading text-info">Menu Principal</span>
  <ul class="list-unstyled">
            <li routerLinkActive="active"><a [routerLink]="['/principal']"> <i class="icon-home"></i> Principal </a></li>
            <li routerLinkActive="active"><a [routerLink]="['/productos']"> <i class="bi bi-cast"></i> Productos </a></li>
            <li><a href="#inventario" aria-expanded="false" data-toggle="collapse"> <i class="bi bi-receipt-cutoff"></i> Inventarios </a>
              <ul id="inventario" class="collapse list-unstyled ">
                <li routerLinkActive="active"><a [routerLink]="['/inventario']"><i class="bi bi-folder-plus text-info"></i>   Medias </a></li>
                <li routerLinkActive="active"><a [routerLink]="['/cuarteo']"><i class="bi bi-folder-plus text-info"></i>   Cuarteos </a></li>

              </ul>
            </li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="bi bi-journal-bookmark"></i> Notas Contables</a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                 <li><a [routerLink]="['/notaCredito']" ><i class="bi bi-folder-plus text-info"></i>  Notas Créditos</a></li>
                 <li><a [routerLink]="['/notaDebito']" ><i class="bi bi-folder-plus text-info"></i>  Notas Débitos</a></li>
              </ul>
            </li>

            <li routerLinkActive="active"><a [routerLink]="['/ventas']"> <i class="bi bi-cash-coin"></i>  Ventas </a></li>
            <li routerLinkActive="active"><a [routerLink]="['/cuentas']"> <i class="bi bi-building-exclamation"></i> Cuentas </a></li>
  </ul><span class="heading text-info">Menu Secundario</span>
  <ul class="list-unstyled">
    <li routerLinkActive="active"> <a [routerLink]="['/clientes']"> <i class="bi bi-person-up"></i> Clientes </a></li>
    <li routerLinkActive="active"><a [routerLink]="['/vendedores']"> <i class="bi bi-people"></i> Vendedores </a></li>
   
  </ul>
</nav>

